# Timezone setting for correct log timestamps | ex. "America/Anchorage"
TZ=
# user ID, get it with: `id -u` | ex. "1000"
PUID=
# user group ID, get it with: `id -g` | ex. "1000"
PGID=
# domain which points to this server/manager node, used by traefik | ex. "mydomain.com"
DOMAIN=
